@import "./utils/variables";
@import "./utils/placeholder";

@import "./components/common";
@import "./components/button";
@import "./components/container";
@import "./components/social";

@import "./components/header";
@import "./components/logo";
@import "./components/main-nav";

@import "./components/hero";
@import "./components/section";
@import "./components/particular";
@import "./components/business";
@import "./components/team";
@import "./components/clients";

@import "./components/filter";
@import "./components/portfolio-list";
@import "./components/work-card";

@import "./components/footer";

@import "./components/backdrop";
@import "./components/modal";
@import "./components/modal-form";
