%button {
  min-width: 73px;
  border: 0;

  font-size: 16px;
  text-align: center;
  color: $title-color;
  border-radius: 4px;

  cursor: pointer;
}

.button--special{  
  @extend %button;

  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.button--default {
  @extend %button;

  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;

  color: $main-color;
  background-color: $secondary-bg-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
    color: #fff;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button--primary{
  @extend %button;

  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;

  color: #fff;
  background-color: $accent-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}