.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;

  @extend %list;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.filter__item {
  &:not(:last-child){
    margin-right: 8px;

    // @media screen and (max-width: 767px) {
    //   margin-bottom: 15px;
    // }
  }

  &:not(:nth-last-child(-n+2)){
    margin-bottom: 15px;
  }
}