.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-bg-color;
}

.footer__inner{
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-around; 
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.footer__nav,
.footer__join{
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 165px) / 2);
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__subscribe{
  flex-grow: 1;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 50%;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__nav{
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: $title-color;
}

.footer__address {
  font-style: normal;
  @extend %list;
}

.footer__address-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__address-link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);

  transition: color $transition;

  &:hover, &:focus{
    color: $accent-color;
  }
}

.footer__address-link--white-color{
  color: $title-color;
}

.footer__join{
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__text{
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-color;
}

.footer__form{
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__input{
  width: 100%;
  height: 50px;
  padding: 15px 16px;

  color: rgba(255, 255, 255, 0.6);
  background-color: $footer-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  @media screen and (min-width: 768px) and (max-width: 1999px) {
    width: 50%;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 358px;
    margin-right: 12px;
  }
}

.footer__input::placeholder{
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button{
  display: flex;
  align-items: center;

  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
}

.footer__icon{
 margin-left: 10px;
 @extend %icon;
}