.header {
  position: fixed;
  top: 0;

  width: 100%;
  min-height: 60px;
  z-index: 1;


  background-color: $main-bg-color;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    min-height: 80px;
  }
}

.header__container{
  display: flex;
  align-items: center;
  
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.header__logo {
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
}