.header {
  width: 100%;
  min-height: 80px;
  position: fixed;
  top: 0;
  z-index: 1;

  background-color: $main-bg-color;
  border-bottom: 1px solid #ececec;
}

.header__container{
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}