// Main nav list
.main-nav {
  background-color: $main-bg-color;

  @media screen and (max-width: 767px) {
    position: absolute;
    left: 0;
    top: 0;
    
    display: none;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;

    &.is-open{
      display: block;
    }
  }

  @media screen and (max-width: 479px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

}

.main-nav__menu {
  @extend %list;
  @media screen and (min-width: 768px){
    display: flex;
  }
}

.main-nav__item{
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.main-nav__item:not(:last-child) {
  @media screen and (max-width: 767px){
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px){
    margin-right: 50px;
  }
}

.main-nav__link {
  display: block;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $main-color;

  transition: color $transition;

  &:hover, &:focus{
    color: $accent-color;
  }

  @media screen and (max-width: 479px) {
    font-size: 20px;
  }
  
  @media screen and (min-width: 768px){
    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;
    
    font-size: 14px;
    line-height: 1.14;
  }
}

.main-nav__link--current{
  color: $accent-color;

  &::after{
    @media screen and (min-width: 768px){
      content: "";
    
      position: absolute;
      left: 0;
      bottom: -1px;
      
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;

      background-color: $accent-color;
    }
  }
}

// Contact list
.main-nav__contact{
  @extend %list;

  display: flex;

  @media screen and (max-width: 767px){
    width: calc(100% - 80px);
    align-items: center;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 134px;
  }

  @media screen and (max-width: 479px){
    width: calc(100% - 40px);
  }

  @media screen and (min-width: 768px){
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: 1200px){
    flex-direction: row;
    align-items: center;
  }
}

.main-nav__contact-item {
  &:last-child {
    @media screen and (max-width: 767px){
      margin-bottom: 32px;
    }
  }

  &:first-child{
    @media screen and
    (min-width: 768px) and
    (max-width: 1199px){
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px){
      margin-right: 30px;
    }
  }
}

.main-nav__contact-link{
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $secondary-color;

  transition: color $transition;

  &:hover, &:focus{
    color: $accent-color;
  }

  @media screen and (max-width:479px) {
    font-size: 18px;
  }

  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.main-nav__contact-link--tel{
  @media screen and (max-width:767px) {
    font-size: 34px;
    line-height: 1.18;
    color: $accent-color;
  }

  @media screen and (max-width:479px) {
    font-size: 24px;
  }
}

.main-nav__contact-icon{
  margin-right: 10px;

  @extend %icon;

  @media screen and (max-width:767px) {
    display: none;
  }
}

// Social list
.main-nav__social{
  position: absolute;

  width: calc(100% - 80px);
  justify-content: center;
  bottom: 48px;

  display: flex;

  @extend %list;

  @media screen and (min-width:768px) {
    display: none;
  }

  @media screen and (max-width: 479px){
    width: calc(100% - 40px);
  }
}

.main-nav__social-item{
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
  padding-right: 10px;

  &:first-child{
    padding-left: 0;
  }

  &:last-child{
    padding-right: 0;
    border: none;
  }

  @media screen and (max-width: 479px) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.main-nav__social-link{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;

  @media screen and (max-width: 479px) {
    font-size: 14px;
  }
}

// Toogle menu Btn
.main-nav__toggle-menu{
  display: inline-block;
  border: none;
  background-color: transparent;
  z-index: 2;

  cursor: pointer;
  transition: color $transition;

  &:hover, &:focus{
    color: $accent-color;
  }

  @media screen and (min-width:768px) {
    display: none;
  }

  &.is-open .main-nav__icon-menu{
    display: none;
  }

  &.is-open .main-nav__icon-cross{
    display: block;
  }
}

.main-nav__icon-cross,
.main-nav__icon-menu{
  @extend %icon;
}

.main-nav__icon-cross{
  display: none;
}