// Main nav list
.main-nav {
  position: absolute;
  left: 0;
  top: 0;

  display: none;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;

  background-color: $main-bg-color;

  &.is-open{
    display: block;
  }
}

.main-nav__menu {
  @extend %list;
  @media screen and (max-width: 767px){
    
  }
}

.main-nav__item:not(:last-child) {
  @media screen and (max-width: 767px){
    margin-bottom: 32px; 
  }
}

.main-nav__link {
  display: block;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $main-color;

  transition: color $transition;

  &:hover, &:focus{
    color: $accent-color;
  }
}

.main-nav__link--current{
  color: $accent-color;
}

// .main-nav__link--current::after{
//   content: "";
  
//   position: absolute;
//   left: 0;
//   bottom: -1px;
  
//   display: block;
//   width: 100%;
//   height: 4px;
//   border-radius: 2px;

//   background-color: $accent-color;
// }

// Contact list
.main-nav__contact{
  position: absolute;
  bottom: 134px;

  @extend %list;

  display: flex;
  @media screen and (max-width: 767px){
    flex-direction: column-reverse;
  }
}

.main-nav__contact-item:last-child {
  @media screen and (max-width: 767px){
    margin-bottom: 32px;
  }
}

.main-nav__contact-link{
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $secondary-color;

  transition: color $transition;

  &:hover, &:focus{
    color: $accent-color;
  }
}

.main-nav__contact-link--tel{
  @media screen and (max-width:767px) {
    font-size: 34px;
    line-height: 1.18;
    color: $accent-color;
  }
}

.main-nav__contact-icon{
  display: none;
  margin-right: 10px;

  @extend %icon;
}

// Social list
.main-nav__social{
  position: absolute;
  bottom: 48px;

  display: flex;

  @extend %list;

  @media screen and (min-width:768px) {
    display: none;
  }
}

.main-nav__social-item{
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
  padding-right: 10px;

  &:first-child{
    padding-left: 0;
  }

  &:last-child{
    padding-right: 0;
    border: none;
  }
}

.main-nav__social-link{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}

// Toogle menu Btn
.main-nav__toggle-menu{
  display: inline-block;
  border: none;
  background-color: transparent;
  z-index: 2;

  cursor: pointer;

  @media screen and (min-width:768px) {
    display: none;
  }

  &.is-open .main-nav__icon-menu{
    display: none;
  }

  &.is-open .main-nav__icon-cross{
    display: block;
  }

}

.main-nav__icon-cross{
  display: none;
}