.modal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 450px;
  padding: 40px;

  background-color: $secondary-bg-color;
  transition: transform $transition;

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  .backdrop--is-hidden &{
    transform: translate(-50% -50%) scale(0.1);
  }

}

.modal__title{
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $main-color;

  @media screen and (max-width: 1199px) {
    line-height: 1.5;
  }
}

.modal__close-button{
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);;
  background-color: $main-bg-color;

  transition: color $transition;

  &:hover, &:focus{
    color: $accent-color;
  }
}

.modal__close-icon{
  @extend %icon;
}