.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: 1199px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
  }
}

.section--desktop{
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section--secondary-bg-color{
  background-color: $secondary-bg-color;
}

