.social{
  display: flex;
  justify-content: center;
  @extend %list;
}

.social__item:not(:last-child){
  margin-right: 10px;
}

.social__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: $icon-color;
  background-color: $main-bg-color;
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus{
    background-color: $accent-color;
    color: $title-color;
  }              
}

.social__link--footer-color{
  color: $title-color;
  background-color: rgba(255, 255, 255, 0.1);
}